ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
itemborder()
  width 6.5rem
  margin: .1rem 0
  border: 0
  background: #fff
  border-bottom: .02rem solid #e3e5e9
casetitle()
  // padding .4rem
  height 1rem
  line-height 1rem
  font-size .35rem
  font-weight 500
  text-align center
vertical()
  display flex
  justify-content center
  align-items center
border()
  border-top .01rem solid #ccc
  border-bottom .01rem solid #ccc
  border-radius .15rem
textJustify()
  -webkit-box-pack: justify
  -moz-box-pack: justify
  -ms-flex-pack: justify
  -webkit-justify-content: space-between
  justify-content: space-between
